@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #011F3F;
}

html {
    font-size: 62.5%;
    font-family: 'Press Start 2P', cursive;
}

.container {
    position: relative;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

#level-title, #play-title {
    font-size: 5rem;
    color: #FEF2BF;
    margin: 20px 20px;
}

.game {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.btn {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 10px solid #000;
    border-radius: 35px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pressed {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    background-color: grey;
}

.game-over {
    background-color: red;
}

.how-to-play {
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0e345c;
    border-radius: 10px;
    border: 5px solid #dee0c0;
    transition: all 0.5s;
}

.how-to-play p {
    color: rgb(139, 120, 12);
    line-height: 2rem;
    font-size: 1rem;
    margin: 10px 0;
}

.choose-to-play {
    display: flex;
    justify-content: space-around;
}

.btn-play {
    border: none;
    outline: none;
    padding: 15px;
    margin : 0 10px;
    background-color: #b2bac4;
    font-family: 'Press Start 2P', cursive;
}

.btn-play.active {
    background-color: #6e70e9;
}