@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #011F3F;
}

html {
    font-size: 62.5%;
}

.container {
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.container h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    color: #FEF2BF;
    margin: 20px 20px;
}

.game {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.btn {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 10px solid #000;
    border-radius: 35px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pressed {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    background-color: grey;
}

.game-over {
    background-color: red;
}